<h1>Eat the Burger</h1>

<h2>Burgers Ready to Eat!</h2>

<ul>
  {{#each burgers}}
    {{!-- {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}} --}}
  {{/each}}
</ul>

<h2>Burgers You've Eaten!</h2>

<ul>
  {{#each burgers}}
    {{!-- {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}} --}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers" method="post">

  <div class="form-group">
    <label for="burgerAdd">Order your Burger:</label>
    <input type="text" id="burger-input" name="burgerName">
    <button type="submit" class= "create-burger">Add Burger</button>
  </div>

</form>