<div class="jumbotron text-center">
  <h1>Eat the Burger</h1>
  <h2>Order a burger or eat a burger that's ready!</h2>
</div>

<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-6">
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/readyToEat devoured=false}}
          {{/unless}}
        {{/each}}
      </ul>
    </div> 
    <div class="col-6">
      <ul class="list-group">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/devoured devoured=true}}
          {{/if}}
        {{/each}}
      </ul>    
    </div>
  </div>
  <div class="row d-flex mt-3 justify-content-center">
    <form class="create-burger">

      <div class="form-group col text-center">
        <label for="burgerAdd">Order your Burger:</label>
        <textarea class="form-control row mb-3" type="text" id="burger-input" name="burger-input" cols="50" rows="3"></textarea>
        <button type="submit" class= "btn btn-info row mb-3">Add Burger</button>
      </div>

    </form>
</div>